$guide-to-queries: (
  "phone": 320px,
  "lgphone": 425px,
  "tablet": 768px,
  "desktop": 1024px,
  "smdesktop": 1280px,
  "mddesktop": 1440px,
  "lgdesktop": 1920px,
  "4k": 2560px,
);

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    //justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: #FFF;
    overflow-x: hidden;

    @media only screen and (min-width: 320px) {
        padding: 20px 0;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;

        user-select: none;

        .name {
            margin-top: 20px;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 43px;
            text-transform: uppercase;
            color: #232233;
        }

        .workOf {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            text-transform: uppercase;
            color: #6C6C72;
        }

        .description {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #6C6C72;
            width: 420px;
            margin: 10px 0;
            text-align: center;
            
            @media only screen and (min-width: 320px) {
                width: 90%;
            }

            @media only screen and (min-width: 1024px) {
                width: 420px;
            }

            .url {
                font-size: 16px;
                line-height: 22px;
                color: #8321E7;
                font-weight: 500;
                text-decoration: none;

                &:hover {
                    filter: brightness(0.7);
                }
            }
        }
    }

    .works {
        display: flex;
        flex-direction: column;
        width: 80%;

        margin-top: 20px;

        user-select: none;

        @media only screen and (min-width: 320px) {
            width: 90%;
        }

        .worksHeader {
            display: flex;
            flex-direction: row;
            background: transparent;
            width: 100%;
            margin: 20px 0;

            h1 {
                font-weight: 500;
                font-size: 36px;
                line-height: 22px;
                color: #6C6C72;
            }
        }

        .worksContainer {
            width: 100%;
            margin: 10px 0;

            .grid {
                display: grid;
                margin-top: 10px;
                justify-content: space-between;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 15px;

                @media only screen and (min-width: 320px) {
                    grid-template-columns: 1fr;
                }

                @media only screen and (min-width: 1024px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                //@media only screen and (min-width: 920px) {
                //    grid-template-columns: 1fr;
                //}

                //@media only screen and (min-width: 1280px) {
                //    grid-template-columns: 1fr 1fr;
                //}
            }
        }
    }
}